<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Libraries/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Libraries/angular/angular.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body ng-app="app">
    <script src="~/JsConfig/xd.Module.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
